@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
}
body {
 /* width: 100vw;
 height: 100vh; */
 /* display: flex;
 justify-content: center;
 justify-items: center;
 align-items: center; */
 background-color: rgb(255, 255, 255);
 /* padding: 20px; */
}

section {
 /* background-color: darkseagreen; */
 /* height: 100%;
 width: 100%; */
 /* padding: 20px; */
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 /* justify-items: center; */
 /* align-items: center; */
}
.card {
 background-color: seashell;
 height: auto;
 width: 300px;
 margin: 10px;
 border-radius: 15px;
}
.card:hover {
 transform: scale(1.03);
 transition: all 0.5s linear;
}
.card:hover .name-1 {
    border-top: solid 5px #e61e2b;
    transition: all 0.2s ease;
}
.card:hover .name-2 {
    border-top: solid 5px #004ea2;
    transition: all 0.2s ease;
}
.card:hover .name-3 {
    border-top: solid 5px #ea5504;
    transition: all 0.2s ease;
}
.card:hover .name-4 {
    border-top: solid 5px #ffcc00;
 transition: all 0.2s ease;
}
.card:hover .name-5 {
 border-top: solid 5px #e7141a;
 transition: all 0.2s ease;
}

.face {
    height: 310px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.name {
 background: rgba(255, 255, 255, 0.308);
 height: 5rem;
 display: flex;
 align-items: center;
}

.face-1 {
    background-image: url(img/윤석열.jfif);
}
.face-2 {
    background-image: url(img/이재명.png);
}
.face-3 {
    background-image: url(img/안철수.jfif);
}
.face-4 {
    background-image: url(img/심상정.jfif);
}
.face-5 {
    background-image: url(img/허경영.png);
}

.filter{
    backdrop-filter: blur(5px);
    -webkit-filter: blur(5px);
}